body {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
  list-style: none;
}

::placeholder {color: rgb(179, 178, 178);}

*,
::after,
::before {box-sizing: border-box;}

a {text-decoration: none;}

.container {
  width: 1400px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

button,
.buy-button,
.play-button {
  display: flex;
  align-items: center;
  border-radius: 70px;
  font-size: 23px;
  font-weight: 100;
  color: white;
  background-color: #1e73ff;
  padding: 0px 40px;
  border: 1px solid transparent;
  height: 68px;
  cursor: pointer;
  transition: 0.3s;
}

.buy-button:hover
 {
  background: white;
  border: 1px solid color #1e73ff;
  box-shadow: 0px 0px 20px 1px #1e73ff;
  color: #1e73ff;
  scale: 1.2;
} 

.play-button:hover {
  background: white;
  box-shadow: 0px 0px 20px 1px #1e73ff;
  border: 1px solid color #1e73ff;
  color: #1e73ff;
  scale: 1.2;
}

button:hover {
  background: white;
  box-shadow: 0px 0px 20px 1px #1e73ff;
  border: 1px solid color #1e73ff;
  color: #1e73ff;
  scale: 1.2;
}

.play-button i {
  font-size: 28px;
  padding-right: 5px;
}

button span {
  position: relative;
  top: 1px;
}

.container.header div button {
  gap: 13px;
  display: flex;
  align-items: center;
}

.container.header span {
  font-size: 22px;
  margin: auto;
}

.button {
  margin-top: 30;
  display: flex;
  justify-content: left;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

