body {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
  list-style: none;
}

::placeholder {
  color: rgb(179, 178, 178);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

 button {
  display: flex;
  align-items: center;
  border-radius: 70px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #1e73ff;
  padding: 0px 35px;
  border: 1px solid transparent;
  margin-right: 5px;
  height: 70px;
}

button i {
  font-size: 33px;
  padding-right: 15px;
}

.container.header div button {
  gap: 13px;
  display: flex;
  align-items: center;
  
}

.container.header span {
  font-size: 22px;
  margin: auto;
}

.button {
  margin-top: 30;
  display: flex;
  justify-content: center;
}



