.navbar-wrapper {
  display: flex;
  justify-content: center;
  transition: ease-in-out 0.6s;
  background-color: white;
  box-shadow: 0px 0px 20px rgb(48 63 100 / 20%);
}

.navbar {
  justify-content: space-between;
  width: 1400px;
  position: fixed;
  z-index: 500;
  transition: 0.6s;
  display: flex;
  padding: 20px 50px 20px 30px;
}

.nav {
  display: flex;
  padding: 0;
}

.menu {display: none;} 

.menu ul li a:active,
.menu ul li a:visited  {color: grey;}
.menu ul li a:hover {color: #1e73ff;}

.navbar.sticky {
  width: 100%;
  max-width: none;
  background-color: white;
  box-shadow: 0px 0px 20px rgb(48 63 100 / 20%);
}

.navbar img {
  width: 195px;
  transition: 0.9s;
  position: relative;
  }

.navbar img:hover {
  transform: rotate(360deg);
  scale: 1.5;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
  justify-content: right;
  z-index: 500;
  color: gray;
  padding: 0px 40px;
  font-size: 20px;
  margin-right: 15px;
}

.navbar-toggler span {
  cursor: pointer;
  pointer-events: none;
}

.container.nav ul a {color: gray;}

.container.nav ul li:hover {scale: 1.1;}

.container.nav a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container.nav ul a:hover {color: #1e73ff;}

.buy-button {font-weight: 400;}

.background-header {
  z-index: -1;
  position: absolute;
  top: -75px;
  width: 100%;
  height: 720px;
  transform: skewY(-5deg);
  background: linear-gradient(111deg, transparent 15%, #f5f5f5 73%, rgba(184, 213, 222, 0.65) 25%)
}

.header-title {
  padding-top: 150px;
  display: flex;
}

.play-button {
  width: 210px;
}

.play-button h5 {
  position: relative;
  top: 1px;
  left: 5px;
  font-weight: 400;
  text-decoration: none;
}

.play-button span i {font-size: 25px;}

.logo-icons {
  height: 800px;
  margin-top: 60px;
  margin-left: auto;
  padding-right: 25px;
}

.logo-icons ul li {list-style: none;}

.logo-icons .first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  margin-left: 65px;
}


.logo-icons .second-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}


.logo-icons .third-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}


.logo-icons img {
  width: 85px;
  background: transparent;
  padding: 10px;
}


.logo-icons .atlasian img,
.logo-icons .asana img, 
.logo-icons .paypal img,
.logo-icons .weave img,
.logo-icons .calendar img {width: 90px;}

.logo-icons .google:hover,
.logo-icons .google-A:hover,
.logo-icons .atlasian:hover, 
.logo-icons .asana:hover,
.logo-icons .paypal:hover,
.logo-icons .weave:hover,
.logo-icons .calendar:hover,
.logo-icons .paypal:hover {
  box-shadow: 0px 4px 39px 1px #1e73ff;
  cursor: pointer;
  scale: 1.5;
}

.logo-icons .atlasian { 
  margin-right: 140px;
  margin-left: 50px; 
}

.logo-icons .weave {margin-right: 180px;}

.logo-icons .calendar {margin-top: 30px;}

.logo-icons .google,
.logo-icons .google-A {
  background-color: white;
  width: 98px;
  height: 98px;
  background: white; 
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0px 4px 39px 1px rgba(171, 171, 173, 1);
  position: relative;
  animation-name: example;
  animation-duration: 1.3s;  
  animation-fill-mode: forwards;
  transition: 0.3s;
}

.logo-icons .google-A {
  margin-top: -50px;
  margin-left: 212px;
}

.logo-icons .google {margin-right: 40px;}

.logo-icons .asana,
.logo-icons .atlasian,
.logo-icons .paypal,
.logo-icons .weave,
.logo-icons .calendar {
  background-color: white;
  width: 120px;
  height: 120px;
  background: white; 
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0px 4px 39px 1px rgba(171, 171, 173, 1);
  position: relative;
  animation-name: example;
  animation-timing-function: ease-out;
  animation-duration: 1.2s;  
  animation-fill-mode: forwards;
  transition: 0.3s;
}
@keyframes example {
  from {top: 200px;}
  to {top: 0px;}
}

.logo-icons .atlasian {
  position: relative;
  animation-name: example;
  animation-duration: 1.3s;  
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.logo-icons .google {
  animation-delay: 0.1s;
  margin-bottom: 50px;
}

.logo-icons .asana {
  animation-delay: 0.3s;
  margin-bottom: 50px;
}

.logo-icons .paypal {animation-delay: 0.4s;}

.logo-icons .weave {animation-delay: 0.5s;}

.logo-icons .google-A {animation-delay: 0.6s;}

.logo-icons .calendar {animation-delay: 0.7s;}

.header {padding-top: 100px;}

.header div:nth-child(2) {
 display: flex;
 align-items: center;
 gap: 30px;
}

.header div:nth-child(2) a {
  text-decoration: none;
  font-size: 20px;
  color: #1e73ff;
  font-weight: 500;
  transition: 0.3s;
 }

 .header div:nth-child(2) a:hover {scale: 1.1;}

.header h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 65px;
  margin-bottom: 10px;
  padding: 0;
}
  
.header p {
  font-size: 20px;
  color: gray;
}

.section-title { 
  text-align: center;
  margin-bottom: 100px; 
}

.section-title h2 { 
  font-size: 40px;
  margin-top: -30px;
}

.section-title p { 
  font-size: 25px;
  margin-top: -30px;
  color: gray;
}

.container .key-benefits-tables {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  column-gap: 44px;
  justify-content: center;
}

.key-benefits-tables .table {
  border: 1px solid transparent;
  box-shadow: 0px 0px 14px 1px rgb(206 206 206);
  padding: 23px;
  animation-timing-function: ease;
  transition: 0.3s;
}

.key-benefits-tables .table:hover {
  animation-name: key-benefits-table;
  position: relative;
  animation-fill-mode: forwards;
  cursor: pointer;
  box-shadow: 0px 0px 14px 1px #1e73ff;
  scale: 1.1;
}

@keyframes key-benefits-table {
  from {top: 0px}
  to {bottom: 10px}
}

.key-benefits-tables .table img {width: 100px}

.key-benefits-tables .table h2 {font-size: 23px;}

.key-benefits-tables .table h2 span,
.right-big-wrapper span {
  position: relative;
  top: -2px;
  border-radius: 70px;
  font-size: 17px;
  color: white;
  background-color: #12c1aa;
  padding: 5px 12px;
  border: 1px solid transparent;
  margin-bottom: 18px;
  margin-left: 9px;
}

.key-benefits-tables .table p {
  font-size: 21px;
  color: gray;
  letter-spacing: 0.5;
}

.key-benefits-tables .table a {
  color: #1e73ff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.banner-wrapper {
  width: 100%;
  height: 600px;
  background-color: #f1f6ff;
  margin: 150px 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 48% 52%;
  align-items: center;
}

.banner-wrapper .software-wrapper-left {
  font-weight: 400;
  padding-left: 60px;
  line-height: 65px;
  font-size: 58px;
}

.button-wrapper-1 {display: flex;}

.banner-wrapper .software-wrapper-left h1 {
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  margin-right: 30px;
}

.banner-wrapper .software-wrapper-right {
  margin-top: auto;
}

.banner-wrapper .software-wrapper-right .img{
  background-image: url(../assets/banners/banner_one.jpg);
  width: 100%;
  height: 440px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 37%;
  position: relative;
}

.banner-wrapper .software-wrapper-right .img:hover {
  animation-name: example-2;
  animation-duration: 1.3s;  
  animation-fill-mode: forwards;
  box-shadow: 0px 4px 39px 1px rgb(171 171 173);
}

@keyframes example-2 {
  from {top: 50px;}
  to {top: 0px;}
}

.main-section {
  padding: 0px 100px;
  margin-top: 130px;
}

.circles {
  display: flex;
  justify-content: space-between;
  margin: 45px 55px;
}

.circle {
  background: #dfefff;
  font-size: 12px;
  border-radius: 58%;
  padding: 30px;
  color: #1e73ff;;
  transition: 0.3s;
}

.circle:hover {
  scale: 1.5;
  cursor: pointer;
}

.circle i {font-size: 10px;}

.line {
  border-top: 2px solid #f0f0f0;
  width: 500px;
  margin-top: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.under-circles-words {
  display: flex;
  text-align: center;
  font-size: 17px;
  list-style: none;
} 

.under-circles-words div {
  width: 25%;
}

.under-circles-words div:hover {
  color: #1e73ff;
  cursor: pointer;
}

.banner-two-wrapper {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 1400px;
  margin: auto;
  margin-top: 100px;
}

.banner-two {width: 1400px;}

.banner-two { 
  margin: 0px 0px 100px 0px;
  width: 100%;
  height: 587px;
  background-image: url(../assets/banners/banner_two.jpg);
  background-repeat: no-repeat;
  background-position: 40% 23%;
  background-size: 100%;
}

.banner-two img {width: 100%;}

.banner-two button {
  position: relative;
  left: 47%;
  top: 41%;
  border-radius: 100%;
  width: 99px;
  height: 99px;
  box-shadow: 0px 4px 39px 1px rgb(171 171 173);
  background-color: white;
}

.banner-two button i {
  position: relative;
  font-size: 30px;
  left: -1px;
  top: 1px;
  color: black;
} 

.christina-section {
  width: 100%;
  height: 750px;
  display: flex;
}

.dotts img {
  width: 271px;
  margin-bottom: 100px;
  margin-top: 133px;
}

.profile-picture img {
  width: 500px;
  margin-top: -736px;
  margin-left: 71px;
}

.description {padding: 110px 0px 0px 160px;}

.description img {width: 130px;}

.description h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 80px;
}

.description h3 {
  font-size: 28px;
  margin-bottom: -25px;
  letter-spacing: 0.2px;
}

.description p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  color: #838383;
  letter-spacing: 0.2px;
}

.trusted h2 {
  color: #838383;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 50px;
}

.trusted .brands ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.trusted .brands img {
  width: 150px;
  transition: 0.3s;
}

.trusted .brands img:hover {
  scale: 1.5;
  cursor: pointer;
  
}

.pricing-features {
  display: flex;
  margin: 100px 0px 200px;
}

.left-big-wrapper  .play-button {margin-bottom: 10px;}

.right-big-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 70px;
  gap: 70px;
}

.left-big-wrapper {
  height: 703px;
  width: 1200px;
  padding: 50px 60px 62px;
  border: 1px solid transparent;
  box-shadow: 0px 30px 39px 1px rgb(196 196 196);
  transition: 0.6s;
}

.left-big-wrapper:hover {
  box-shadow: 0px 0px 39px 1px #1e73ff;
  scale: 1.02;
}

.left-big-wrapper h2 {
  font-size: 75px;
  margin: 25px 0px;
  font-weight: 400;
}

.left-big-wrapper h2 span {
  font-size: 30px;
  color: gray;
  font-weight: 300;
  margin-left: -10px;
}

.left-big-wrapper p {
  font-size: 24px;
  color: gray;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 75px;
}

.left-big-wrapper .under-button {
  font-size: 19px;
  color: gray;
  font-weight: 400;
}

.right-small-wrapper {
  border-radius: 10px;
  padding: 20px 20px;
  transition: 0.3s;
}

.right-small-wrapper:hover {
  scale: 1.1;
  box-shadow: 0px 4px 39px 1px #1e73ff;
  cursor: pointer;
}

.right-small-wrapper img {width: 80px;}

.right-small-wrapper h3 {
  font-size: 25;
  font-weight: 500;
  margin-bottom: -5px;
}

.right-small-wrapper p {
  font-size: 20px;
  padding-right: 0px;
  color: gray;
  font-weight: 400;
  margin-right: 35px;
}

.right-big-wrapper span {
  border-radius: 70px;
  font-size: 19px;
  color: white;
  background-color: #12c1aa;
  padding: 4px 14px;
  border: 1px solid transparent;
  margin-bottom: 18px;
  margin-left: 12px;
}

.hire-us {
  display: flex;
  margin-top: 100px;
}

.hire-us-wrapper {
  justify-content: center;
  min-width: 1023px;
  background-color: #1f335b;
  width: 100%;
  height: 1050px;
}

.hire-left-wrapper {
  margin-right: auto;
  padding: 160px 25px;
  padding-left: 45px;
}

.hire-header {width: 240px;}

.hire-header h2 {
  font-size: 40px;
  font-weight: 500;
  color: white;
  padding-right: 0;
  margin-bottom: -30px;
}

.hire-header p {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.3);
  margin: 40px 100px 30px 0px;
  width: 230px;
}

.hire-header h5,
.hire-content span {
  color: white;
  font-size: 21px;
  font-weight: 400;
  width: 440px;
}

.hire-content span h3 {
  font-size: 25px;
  margin-top: 70px;
  margin-bottom: 0;
}

.hire-content p {
  font-size: 19px;
  margin-top: 0px; 
  color: rgba(255, 255, 255, 0.3);
}

.hire-content .photos {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  padding-left: 0;
  padding-top: 45px;
}

.hire-content .photos img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.hire-content .photos img:hover {
  scale: 2;
  cursor: pointer;
}

.hire-content .photos img:last-child {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.hire-content .photos img:last-child:hover {
  scale: 1.5;
}

.hire-right-wrapper {padding: 35px 0px;}

.hire-right-wrapper h2 {
  font-weight: 600;
  font-size: 25px;
  color: rgb(0, 0, 0, 0.9);
  margin-top: 0;
  text-align: justify;
}

.hire-form-header {
  background-color: white;
  border-radius: 10px;
  height: 95%;
  padding: 40px;
  width: 500px;
  padding-bottom: 90px;
}

.hire-form-header .button {justify-content: center;}

.small-inputs ul {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 30px;
  column-gap: 30px;
  padding: 0%;
}

.small-inputs li {width: 100%;}

.small-inputs li i {font-size: 24px;}

.small-inputs input,
.small-inputs select,
.big-input textarea {
  width: 100%;
  font-size: 20px;
  border: 2px solid #ababab2b;
  border-radius: 7px;
  color: #a7a1a1;
  padding: 13px 15px;
  row-gap: 25px;
  column-gap: 25px;
}

.small-inputs select {color: #5a5858;}

.big-input textarea {
  resize: none;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-family: 'Roboto', sans-serif;
  color: #a7a1a1;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 65px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 1.1;
  margin-top: 50px;
  color: #a7a1a1;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ababab2b;
  border-radius: 7px;
  transition: 0.3s;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {background-color: #73a6f7;}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {background-color: #1e73ff;}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {display: block;}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 14px;
  top: 4px;
  width: 11px;
  height: 24px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.privacy-policy {
  display: flex;
  justify-content: start;
  gap: 65px;
  padding-left: 65px;
}

.privacy-policy .p-one,
.privacy-policy .p-two {
  color: #a7a1a1;
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(to right, #a7a1a1 20%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 15px 2px;
  background-repeat: repeat-x;
}

.privacy-policy .p-two {
  color: #1e73ff;
  background-image: linear-gradient(to right, #1e73ff 20%, rgba(255,255,255,0) 0%);
}

.footer-top-wrapper {
  display: flex;
  height: 430px;
  width: 100%;
  padding-top: 120px;
  
}

.footer-top-wrapper img {
  width: 40%;
  padding-bottom: 15px;
}

.footer-top-wrapper p i, 
.footer-top-wrapper a i {padding-right: 15px;}

.footer-top-wrapper a span {
 color: #1e73ff; 
 cursor: pointer;
 margin-bottom: 15px;
}

.footer-top-wrapper p, 
.footer-top-wrapper a {
  color: #a7a1a1;
  font-size: 20px;
  margin-bottom: 8px;
}

.footer-top-right {
  display: flex;
  font-size: 20px;
  gap: 20px;
}

.footer-top-right h2 {
  margin-top: 0;
  margin-bottom: 8px;
  letter-spacing: 2;
  font-size: 25px;
}

.footer-top-right ul {
  list-style: none;
  padding-left: 0;
  color: #a7a1a1;
  font-weight: 400;
  margin: 0;
}

.footer-top-right ul li {margin: 13px 0px;}

.footer-top-right ul li:hover {
  color: #1e73ff;
  cursor: pointer;
}

.company,
.features,
.documentation,
.resorces {padding-left: 55px;}

.company ul li span {
  position: relative;
  top: -2px;
  background-color: #1e73ff;
  color: white;
  padding: 4px 6px;
  font-size: 11px;
  margin-left: 15px;
  border-radius: 6px;
}

.features ul li:nth-child(2) {color: #1e73ff;}

.resorces li i {padding-right: 17px;}

.footer-bottom-wrapper {
  height: 120px;
  border-top: 3px solid #eeeeee;
}

.footer-bottom-header {
  display: flex;
  width: 100%;
  padding: 30px 0px;
  justify-content: space-between;
}

.footer-bottom-header .header-left ul{
  display: flex;
  list-style: none;
  color: #a7a1a1;
  font-size: 20px;
  gap: 10px;
}

.footer-bottom-header .header-left ul li:nth-child(3) {color: #1e73ff; }

.footer-bottom-header .header-left ul li:hover {
  color: #1e73ff; 
  cursor: pointer;
}

.footer-bottom-header .header-right {
  display: flex;
  justify-content: end;
}

 .footer-bottom-header .socials {
  right: 0;
  display: flex;
  list-style: none;
 }

 .footer-bottom-header .socials ul li {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #918e8e;
  background: #eef0ff;
  align-self: center;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}

.footer-bottom-header .socials ul li:hover {
  color: white;
  background: #1e73ff; 
  cursor: pointer;
  scale: 1.2;
}

.footer-bottom-header .socials ul li:nth-child(2) {
  color: #eef0ff;
  background-color: #918e8e;
}

.footer-bottom-header .socials ul li:nth-child(2):hover {
  color: white;
  background: #1e73ff; 
  cursor: pointer;
  scale: 1.2;
}

.footer-bottom-header .socials ul {
  list-style: none;
  gap: 20px;
  display: flex;
  padding: 0;
}

.footer-bottom-header .header-left ul {padding: 0;}

/* Custom select */
.box {
  display: flex;
  align-items: center;
  padding: 7px;
}

.box select {
  background-color: #eef0ff;
  color: #585858;
  border-radius: 5px;
  padding-left: 14px;
  width: 220px;
  height: 40px;
  border: none;
  font-size: 19px;
  font-weight: 100;
  -webkit-appearance: none;
  outline: none;
}

.box::before {
  content: "\f107";
  position: relative;
  font-family: FontAwesome;
  top: 6px;
  right: -198px;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 45px;
  color: #585858;
  pointer-events: none;
}

.box:hover::before {color: #1e73ff;}

.box select option {padding: 30px;}

.header-bottom-content {
  text-align: center;
  font-weight: 300;
  color: gray;
  color: #a7a1a1;
  padding: 0px 160px;
}

.header-bottom-content h3,
.header-bottom-content p{
  font-weight: 400;
  font-size: 20px;
}








    


